<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Auth Activations</title>

		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-size: 14px;
			}

			body {
				font-family: Arial, Helvetica, sans-serif;
			}

			p {
				font-size: 1rem;
			}

			.container {
				width: 100vw;
				background-color: #eee;
				margin: 0;
				border-radius: .5rem;
				overflow: hidden;
				border: 1px solid #919191;
			}

			.header {
				background-color: rgb(123, 200, 8);
				padding: 6px 8px;
			}

			.header h1 {
				font-size: xx-large;
				color: white;
				text-align: center;
			}


			.main {
				padding: 1rem;
			}

			.main h2 {
				font-size: x-large;
				margin-bottom: .5rem;
			}

			.main ul {
				list-style: none;
				margin: 1rem 0;
			}

            .main ul li {
                margin-bottom: .3rem;
                font-size: 14px;
            }

             .main ul li b {
                margin-bottom: .3rem;
                font-size: 14px;
             }

			.main a {
				margin: 1rem 0;
				padding: .6rem 1.2rem;
				display: block;
				width: fit-content;
				border-radius: 1rem;
				background-color: rgb(143, 227, 16);
				font-size: 14px;
				color: white;
				text-decoration: none;
				font-weight: bold;
			}

			.main .closing {
				/* font-size: large; */
				font-weight: bold;
			}

			

			.footer {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1rem ;
				background-color: #ddd;
			}

			.footer p {
				font-size: .9rem;
			}

			@media screen and (min-width: 762px) {
				.container {
					max-width: 600px;
					margin: 2px auto;
				}
			}

		</style>
</head>
<body>
    <div class="container">
			<div class="header">
				<h1>
					Selamat Datang!
				</h1>
			</div>

			<div class="main">
				<h2>
					Halo <%= userName %>
				</h2>
				<p>
					Terimakasih telah mendaftar di layanan kami.
				</p>
				<p>
					Berikut adalah informasi dari akun anda:
				</p>
				<ul>
					<li>
						<b>Nama Lengkap</b> : <%= fullName %>
					</li>
					<li>
						<b>Email</b> : <%= email %>
					</li>
					<li>
						<b>Tanggal Pendaftaran</b> : <%= tanggal %>
					</li>
				</ul>
				<p>
					click di bawah ini untuk mengaktifasi akun anda
				</p>
				<a href="<%= link %>">
					Aktifkan Akun
				</a>
                <p>
                    Jika Anda memiliki pertanyaan, jangan ragu untuk menghubungi Kami.
                </p>
                <p class="closing">
                    Salam Hangat, Chat App
                </p>
			</div>

			<div class="footer">
				<p>
					&copy; 2026 Chat App Official | dilindungi
				</p>
			</div>
		</div>
</body>
</html>